.bx-wrapper .bx-controls-direction a {
	width: 23px;
	height: 53px;
}

.bx-wrapper .bx-prev {
	left: 0px;
	background: url('/img/bxslider/custom-controls.png') no-repeat 0px 0px;
}
	.bx-wrapper .bx-prev:hover {
		background-position: 0px 0px;
	}

.bx-wrapper .bx-next {
	right: 0px;
	background: url('/img/bxslider/custom-controls.png') no-repeat 0px -53px;
}
	.bx-wrapper .bx-next:hover {
		background-position: 0px -53px;
	}

#slider-holder > .container {
	margin-bottom: 40px;
}
	@media (max-width: 767px) {
		#slider-holder > .container {
			padding: 0px;
			margin-bottom: 0px;
		}
	}

#slider-holder .bx-viewport {
	min-height: 370px;
	border-width: 0px;
	left: 0px;
	background-image: url('/img/carousel/home/carousel-background.jpg');
}

.slide-content {
	min-height: 370px;
}
	.slide-content > p {
		font-style: italic;
		font-size: 1.25em;
		font-weight: 300;
		line-height: 2em;
		color: #333333;
		margin-bottom: 80px;
	}
		.slide-content > p > span.big-green {
			font-size: 2.25em;
			font-weight: 500;
			color: #7ab800;
		}

	.slide-content > a {
		text-transform: uppercase;
		color: #7ab800;
		font-weight: bold;
		padding: 3px 15px;
		border: 2px solid #7ab800;
	}
	.slide-content > a:hover {
		text-decoration: none;
		color: white;
		background-color: #7ab800;
	}

.bxslider.home .slide-content {
	background-position: 90% center;
	background-repeat: no-repeat;

	padding-top: 110px;
	padding-left: 80px;
}
@media (max-width: 400px) {
	.bxslider.home .slide-content {
		background-size: 90%;
	}
}
@media (max-width: 767px) {
	.bxslider.home .slide-content {
		padding: 0px;
		background-position: center;
	}
		.bxslider.home .slide-content > p,
		.bxslider.home .slide-content > a {
			display: none;
		}
}
@media (min-width: 768px) and (max-width: 991px) {
	.bxslider.home .slide-content {
		padding-left: 60px;
	}
		.bxslider.home .slide-content > p {
			font-size: 1em;
		}
}

#home-slide-1 {
	background-image: url('/img/carousel/home/drak-predmety.png');
}
@media (max-width: 400px) {
	#home-slide-1 {
		background-size: 96%;
	}
}

#home-slide-2 {
	background-image: url('/img/carousel/home/drak-textil.png');
}
@media (max-width: 400px) {
	#home-slide-3 {
		background-size: 75%;
	}
}

#home-slide-3 {
	background-image: url('/img/carousel/home/drak-kalendare.png');
}
@media (max-width: 400px) {
	#home-slide-3 {
		background-size: 75%;
	}
}
